## **Анализ данных о бронировании отеля.**

**Описание данных**

***Имеются следующие переменные:***

**Hotel** – тип отеля (City Hotel или Resort Hotel)  
**Is canceled** – бронирование было отменено (1) или нет (0); не отмененное считается успешным  
**Lead time** – количество дней, прошедших между датой бронирования и датой прибытия  
**Arrival full date** – полная дата прибытия  
**Arrival date year** – год прибытия  
**Arrival date month** – месяц прибытия  
**Arrival date week number** – номер недели прибытия  
**Arrival date day of month** – день прибытия  
**Stays in weekend nights** – количество выходных (суббота или воскресенье), которые гость забронировал для проживания в отеле  
**Stays in week nights** – количество дней (с понедельника по пятницу), которые гость забронировал для проживания в отеле  
**Stays total nights** – общее число забронированных ночей (сумма двух предыдущих колонок)  
**Adults** – число взрослых  
**Children** – число детей  
**Babies** – число младенцев   
**Meal** – выбранный тип питания  
**Country** – страна происхождения клиента  
**Reserved room type** – тип зарезервированного номера  
**Assigned room type** – тип полученного номера (может отличаться от забронированного)  
**Customer type** – тип бронирования  
**Reservation status** – значение последнего статуса брони: Canceled - было отменено клиентом; Check-Out - клиент зарегистрировался, но уже покинул отель; No-Show - клиент не зарегистрировался и сообщил администрации отеля причину  
**Reservation status date** – дата обновления статуса

In [4]:
import pandas as pd #импорт библиотек

In [6]:
bookings = pd.read_csv('2_bookings.csv', sep=';') #считывание данных

## Задание 1. 
Анализ датасета.

In [7]:
bookings.head(7)

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

In [9]:
bookings.shape

(119390, 21)

In [10]:
bookings.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

## Задание 2. 
Привести названия столбцов к нижнему регистру и заменить пробелы на знак нижнего подчеркивания.

In [52]:
def replace_columns(name):
    new_name = name.replace(' ', '_').lower()
    return new_name
bookings=bookings.rename(columns=replace_columns)

In [53]:
bookings

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date,changes_room_type
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,True
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,True
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02,False
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02,True
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06,True
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07,True
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07,True
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07,True
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07,True

## Задание 3.

Пользователи из каких стран совершили наибольшее число успешных бронирований? Бронирование считается успешным, если в дальнейшем не было отменено (переменная is_canceled).

In [54]:
bookings.query('is_canceled == 0') \
        .groupby('country', as_index=False) \
        .agg({'is_canceled':'count'}) \
        .sort_values('is_canceled', ascending=False)

    country  is_canceled
125     PRT        21071
57      GBR         9676
54      FRA         8481
50      ESP         6391
42      DEU         6069
..      ...          ...
138     SMR            1
145     SYC            1
133     SDN            1
149     TJK            1
163     ZMB            1

[165 rows x 2 columns]

## Задание 4.

На сколько ночей (stays_total_nights)  в среднем бронируют отели типа City Hotel? Resort Hotel?

In [55]:
bookings.groupby('hotel', as_index=False) \
        .agg({'stays_total_nights':'mean'}) \
        .round(2)

          hotel  stays_total_nights
0    City Hotel                2.98
1  Resort Hotel                4.32

## Задание 5.

Иногда тип номера, присвоенного клиенту (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга.

Сколько подобных наблюдений встретилось в датасете?

In [51]:
bookings['changes_room_type'] = bookings.assigned_room_type == bookings.reserved_room_type
bookings.groupby('changes_room_type', as_index=False) \
        .agg(count=('changes_room_type','count'))

   changes_room_type   count
0              False   14917
1               True  104473

## Задание 6.

Проанализируем даты запланированного прибытия (arrival_date_year).

На какой месяц чаще всего оформляли бронь в 2016 году? Изменился ли самый популярный месяц в 2017?

In [50]:
bookings.groupby(['arrival_date_year', 'arrival_date_month'], as_index=False) \
        .agg(count=('arrival_date_month','count')) \
        .sort_values('count', ascending=False)

    arrival_date_year arrival_date_month  count
25               2017                May   6313
16               2016            October   6203
18               2017              April   5661
23               2017               June   5647
14               2016                May   5478
6                2016              April   5428
17               2016          September   5394
22               2017               July   5313
12               2016               June   5292
5                2015          September   5114
7                2016             August   5063
24               2017              March   4970
4                2015            October   4957
19               2017             August   4925
13               2016              March   4824
11               2016               July   4572
15               2016           November   4454
20               2017           February   4177
9                2016           February   3891
0                2015             August   3889
8                2016           December   3860
21               2017            January   3681
1                2015           December   2920
2                2015               July   2776
3                2015           November   2340
10               2016            January   2248

## Задание 7.

Сгруппируйте данные по годам, а затем проверьте, на какой месяц (arrival_date_month) бронирования отеля типа City Hotel отменялись чаще всего в 2015? 2016? 2017?

In [78]:
bookings.query("hotel == 'City Hotel'" and 'is_canceled == 1') \
        .groupby(['arrival_date_year', 'arrival_date_month'], as_index=False) \
        .agg(count=('arrival_date_month','count')) \
        .loc[monthly_counts.groupby('arrival_date_year')['count'].idxmax()]

    arrival_date_year arrival_date_month  count
5                2015          September   2094
16               2016            October   2514
25               2017                May   2762

## Задание 8.

Посмотрите на числовые характеристики трёх колонок: adults, children и babies. Какая из них имеет наибольшее среднее значение?

In [79]:
bookings.adults.mean()

np.float64(1.8564033838679956)

In [80]:
bookings.children.mean()

np.float64(0.10388990333874994)

In [81]:
bookings.babies.mean()

np.float64(0.007948739425412514)

## Задание 9.

Создайте колонку total_kids, объединив столбцы children и babies. Для отелей какого типа среднее значение переменной оказалось наибольшим?

City hotel – отель находится в городе
Resort hotel – отель курортный

In [83]:
bookings['total_kids'] = bookings.children + bookings.babies

In [85]:
bookings.groupby('hotel', as_index=False).agg({'total_kids':'mean'}).round(2)

          hotel  total_kids
0    City Hotel        0.10
1  Resort Hotel        0.14

## Задание 10.

Не все бронирования завершились успешно (is_canceled), поэтому можно посчитать, сколько клиентов было потеряно в процессе. Иными словами, посчитать метрику под названием Churn Rate.

Churn rate (отток, коэффициент оттока) – это процент подписчиков (например, на push-уведомления от сайта), которые отписались от канала коммуникации, отказались от услуг сервиса в течение определенного периода времени. Иными словами, представляет собой отношение количества ушедших пользователей к общему количеству пользователей, выраженное в процентах.

В нашем случае Churn Rate - это процент клиентов, которые отменили бронирование. Давайте посмотрим, как эта метрика связана с наличием детей у клиентов!

Создайте колонку has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), в противном случае – False. Далее проверьте, среди какой группы пользователей показатель оттока выше.

In [91]:
bookings['has_kids'] = bookings.total_kids > 0

In [92]:
bookings.head(50)

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date,changes_room_type,total_kids,has_kids
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,BB,PRT,C,C,Transient,Check-Out,2015-07-01,True,0.0,False
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,BB,PRT,C,C,Transient,Check-Out,2015-07-01,True,0.0,False
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,BB,GBR,A,C,Transient,Check-Out,2015-07-02,False,0.0,False
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,BB,GBR,A,A,Transient,Check-Out,2015-07-02,True,0.0,False
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,BB,GBR,A,A,Transient,Check-Out,2015-07-03,True,0.0,False
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,BB,GBR,A,A,Transient,Check-Out,2015-07-03,True,0.0,False
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,BB,PRT,C,C,Transient,Check-Out,2015-07-03,True,0.0,False
7,Resort Hotel,0,9,2015-07-01,2015,July,27,1,0,2,...,FB,PRT,C,C,Transient,Check-Out,2015-07-03,True,0.0,False
8,Resort Hotel,1,85,2015-07-01,2015,July,27,1,0,3,...,BB,PRT,A,A,Transient,Canceled,2015-05-06,True,0.0,False
9,Resort Hotel,1,75,2015-07-01,2015,July,27,1,0,3,...,HB,PRT,D,D,Transient,Canceled,2015-04-22,True,0.0,False
10,Resort Hotel,1,23,2015-07-01,2015,July,27,1,0,4,...,BB,PRT,E,E,Transient,Canceled,2015-06-23,True,0.0,False
11,Resort Hotel,0,35,2015-07-01,2015,July,27,1,0,4,...,HB,PRT,D,D,Transient,Check-Out,2015-07-05,True,0.0,False
12,Resort Hotel,0,68,2015-07-01,2015,July,27,1,0,4,...,BB,USA,D,E,Transient,Check-Out,2015-07-05,False,0.0,False
13,Resort Hotel,0,18,2015-07-01,2015,July,27,1,0,4,...,HB,ESP,G,G,Transient,Check-Out,2015-07-05,True,1.0,True
14,Resort Hotel,0,37,2015-07-01,2015,July,27,1,0,4,...,BB,PRT,E,E,Transient,Check-Out,2015-07-05,True,0.0,False
15,Resort Hotel,0,68,2015-07-01,2015,July,27,1,0,4,...,BB,IRL,D,E,Transient,Check-Out,2015-07-05,False,0.0,False
16,Resort Hotel,0,37,2015-07-01,2015,July,27,1,0,4,...,BB,PRT,E,E,Contract,Check-Out,2015-07-05,True,0.0,False
17,Resort Hotel,0,12,2015-07-01,2015,July,27,1,0,1,...,BB,IRL,A,E,Transient,Check-Out,2015-07-02,False,0.0,False
18,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,1,...,BB,FRA,A,G,Transient,Check-Out,2015-07-02,False,0.0,False
19,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,4,...,BB,GBR,G,G,Transient,Check-Out,2015-07-05,True,0.0,False
20,Resort Hotel,0,37,2015-07-01,2015,July,27,1,1,4,...,BB,GBR,F,F,Transient,Check-Out,2015-07-06,True,0.0,False
21,Resort Hotel,0,72,2015-07-01,2015,July,27,1,2,4,...,BB,PRT,A,A,Transient,Check-Out,2015-07-07,True,0.0,False
22,Resort Hotel,0,72,2015-07-01,2015,July,27,1,2,4,...,BB,PRT,A,A,Transient,Check-Out,2015-07-07,True,0.0,False
23,Resort Hotel,0,72,2015-07-01,2015,July,27,1,2,4,...,BB,PRT,D,D,Transient,Check-Out,2015-07-07,True,0.0,False
24,Resort Hotel,0,127,2015-07-01,2015,July,27,1,2,5,...,HB,GBR,D,I,Contract,Check-Out,2015-07-01,False,0.0,False
25,Resort Hotel,0,78,2015-07-01,2015,July,27,1,2,5,...,BB,PRT,D,D,Transient,Check-Out,2015-07-08,True,0.0,False
26,Resort Hotel,0,48,2015-07-01,2015,July,27,1,2,5,...,BB,IRL,D,D,Contract,Check-Out,2015-07-08,True,0.0,False
27,Resort Hotel,1,60,2015-07-01,2015,July,27,1,2,5,...,BB,PRT,E,E,Transient,Canceled,2015-05-11,True,0.0,False
28,Resort Hotel,0,77,2015-07-01,2015,July,27,1,2,5,...,BB,PRT,A,A,Transient,Check-Out,2015-07-08,True,0.0,False
29,Resort Hotel,0,99,2015-07-01,2015,July,27,1,2,5,...,BB,PRT,D,D,Transient,Check-Out,2015-07-08,True,0.0,False
30,Resort Hotel,0,118,2015-07-01,2015,July,27,1,4,10,...,BB,NaN,A,A,Transient,Check-Out,2015-07-15,True,0.0,False
31,Resort Hotel,0,95,2015-07-01,2015,July,27,1,4,11,...,BB,GBR,D,D,Transient,Check-Out,2015-07-16,True,0.0,False
32,Resort Hotel,1,96,2015-07-01,2015,July,27,1,2,8,...,BB,PRT,E,E,Transient,Canceled,2015-05-29,True,0.0,False
33,Resort Hotel,0,69,2015-07-02,2015,July,27,2,2,4,...,BB,IRL,A,C,Transient,Check-Out,2015-07-08,False,0.0,False
34,Resort Hotel,1,45,2015-07-02,2015,July,27,2,1,3,...,BB,PRT,D,D,Transient,Canceled,2015-05-19,True,0.0,False
35,Resort Hotel,1,40,2015-07-02,2015,July,27,2,1,3,...,BB,PRT,D,D,Transient,Canceled,2015-06-19,True,0.0,False
36,Resort Hotel,0,15,2015-07-02,2015,July,27,2,1,3,...,BB,ESP,A,C,Transient,Check-Out,2015-07-06,False,0.0,False
37,Resort Hotel,0,36,2015-07-02,2015,July,27,2,1,3,...,BB,PRT,D,D,Transient,Check-Out,2015-07-06,True,0.0,False
38,Resort Hotel,1,43,2015-07-02,2015,July,27,2,1,3,...,BB,PRT,D,D,Transient,Canceled,2015-05-23,True,0.0,False
39,Resort Hotel,0,70,2015-07-02,2015,July,27,2,2,3,...,HB,ROU,E,E,Transient,Check-Out,2015-07-07,True,0.0,False
40,Resort Hotel,1,45,2015-07-02,2015,July,27,2,2,3,...,BB,PRT,G,G,Transient,Canceled,2015-05-18,True,0.0,False
41,Resort Hotel,0,45,2015-07-02,2015,July,27,2,2,3,...,BB,IRL,D,D,Contract,Check-Out,2015-07-07,True,0.0,False
42,Resort Hotel,0,16,2015-07-02,2015,July,27,2,2,3,...,BB,ESP,F,F,Transient,Check-Out,2015-07-07,True,0.0,False
43,Resort Hotel,0,70,2015-07-02,2015,July,27,2,2,3,...,HB,ROU,E,E,Transient,Check-Out,2015-07-07,True,0.0,False
44,Resort Hotel,0,107,2015-07-02,2015,July,27,2,2,5,...,BB,PRT,A,A,Transient,Check-Out,2015-07-09,True,0.0,False
45,Resort Hotel,1,47,2015-07-02,2015,July,27,2,2,5,...,BB,PRT,G,G,Transient,Canceled,2015-06-02,True,2.0,True
46,Resort Hotel,0,96,2015-07-02,2015,July,27,2,2,5,...,BB,ESP,A,A,Transient,Check-Out,2015-07-09,True,0.0,False
47,Resort Hotel,0,113,2015-07-02,2015,July,27,2,2,5,...,BB,NOR,E,E,Transient-Party,Check-Out,2015-07-09,True,0.0,False
48,Resort Hotel,0,90,2015-07-02,2015,July,27,2,2,5,...,HB,GBR,A,B,Contract,Check-Out,2015-07-09,False,0.0,False
49,Resort Hotel,0,50,2015-07-02,2015,July,27,2,2,5,...,HB,IRL,E,F,Transient,Check-Out,2015-07-09,False,0.0,False

In [93]:
bookings.groupby(['has_kids'], as_index=False).agg(count=('has_kids','count')) #рассчет сколько всего бронирований было сделано группами с детьми и без

   has_kids   count
0     False  110058
1      True    9332

In [94]:
bookings.query('is_canceled == 1').groupby(['has_kids'], as_index=False).agg(count=('has_kids','count')) #рассчет сколько всего отмен бронирований было сделано группами с детьми и без

   has_kids  count
0     False  40965
1      True   3259

In [100]:
Churn_Rate_hasnt_kids = round(40965/110058*100, 2)
print(Churn_Rate_hasnt_kids, '%')

37.22 %

In [102]:
Churn_Rate_has_kids = round(3259/9332*100, 2)
print(Churn_Rate_has_kids, '%')

34.92 %